/* FONTS */

@font-face {
  font-family: 'Livvic';
  src: url('../fonts/Livvic-SemiBold.eot');
  src: url('../fonts/Livvic-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Livvic-SemiBold.woff2') format('woff2'),
    url('../fonts/Livvic-SemiBold.woff') format('woff'),
    url('../fonts/Livvic-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url('../fonts/Livvic-SemiBoldItalic.eot');
  src: url('../fonts/Livvic-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Livvic-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/Livvic-SemiBoldItalic.woff') format('woff'),
    url('../fonts/Livvic-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url('../fonts/Livvic-Bold.eot');
  src: url('../fonts/Livvic-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Livvic-Bold.woff2') format('woff2'),
    url('../fonts/Livvic-Bold.woff') format('woff'),
    url('../fonts/Livvic-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url('../fonts/Livvic-Regular.eot');
  src: url('../fonts/Livvic-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Livvic-Regular.woff2') format('woff2'),
    url('../fonts/Livvic-Regular.woff') format('woff'),
    url('../fonts/Livvic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url('../fonts/Livvic-MediumItalic.eot');
  src: url('../fonts/Livvic-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Livvic-MediumItalic.woff2') format('woff2'),
    url('../fonts/Livvic-MediumItalic.woff') format('woff'),
    url('../fonts/Livvic-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}



/* CUSTOM PROPS */

:root {
  --body-bg: #014e56;
  --light-coral: #f67e7e;
  --white-color: #ffffff;
  --rapture-blue: #79c8c7;
  --police-blue: #2c6269;
  --deep-jungle-green: #004047;
  --sacramento-green: #012f34;
  --dark-green: #002529;
  --font-family: Livvic, Arial, sans-serif;
}



/* GLOBAL STYLES */

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
  background-color: var(--body-bg);
  color: var(--white-color);
}

img {
  max-width: 100%;
  height: auto;
}


/* VISUALLY-HIDDEN */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* AUTOFILL COLORS
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}  */


/* PLACEHOLDER COLOR
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
}  */

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* LOGO */
.logo {
  margin-right: 40px;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

/* BUTTONS */

.button {
  display: inline-block;
  padding: 9px 32px 11px 33px;
  border: 2px solid var(--white-color);
  border-radius: 24px;
  color: var(--white-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none;
  background-color: transparent;
}

.button:hover {
  background-color: var(--white-color);
  color: #002529;
}

.button:active {
  opacity: 0.8;
}

/* LINE */

.line {
  width: 50px;
  height: 4px;
}


/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}


/* SITE HEADER */

.site-header {
  padding: 73px 0;
}

.site-header__container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}


.site-header__logo {
  display: flex;
  white-space: nowrap;
  margin-right: 80px;
}

.logo__img {
  width: 160px;
  height: 40px;
}

.sitenav__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sitenav__item:not(:last-child) {
  margin-right: 40px;
}

.sitenav__link {
  display: block;
  text-decoration: none;
  color: var(--white-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.sitenav__link:hover {
  color: var(--light-coral);
}

.sitenav__link:active {
  opacity: 0.8;
}

.site-header__button {
  margin-left: auto;
}



/* HERO */

.hero {
  background-image: url('../img/bg-img-circle.svg');
  background-repeat: no-repeat;
  background-position: top 66px left -100px;
  overflow: hidden;
}

.hero__container {
  background-image: url('../img/bg-image-hero.svg');
  background-repeat: no-repeat;
  background-position: right 0 bottom -100px;
}

.hero__inner {
  display: flex;
  gap: 30px;
  padding-top: 66px;
  padding-bottom: 250px;
  overflow: hidden;
}

.hero__title {
  margin: 0;
  width: 635px;
  /* height: 200px; */
  font-size: 100px;
  font-style: normal;
  line-height: 100px;
  /* 100% */
}

.hero__title--highlighted {
  color: var(--light-coral);
}


.hero__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 195px;
}

.hero__line {
  background-color: var(--rapture-blue);
}

.hero-text {
  margin: 0;
  width: 445px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 155.556% */
}


/* SERVICES */

.services {
  background-color: var(--sacramento-green);
  padding-top: 140px;
  padding-bottom: 140px;
  background-image: url('../img/bg-image-circle-rectangle.svg');
  background-repeat: no-repeat;
  background-position: bottom 0 right -100px;
}

.services-line {
  background-color: lightcoral;
}

.services__inner {
  display: flex;
  gap: 125px;
  padding-top: 54px;
}

.services__title {
  width: 445px;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin: 0;
  flex-grow: 1;
  /* 100% */
}

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;

}

.services__item {
  width: 540px;
  display: flex;
  align-items: center;
}

.services__item:not(:last-child) {
  margin-bottom: 32px;
}

.services__icon {
  margin-right: 23px;
  width: 72px;
  height: 72px;
}

.services__item-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.services__item-title {
  margin: 0;
  color: var(--light-coral);
  font-size: 18px;
  font-style: normal;
  line-height: 28px;
  /* 155.556% */
}

.services__item-text {
  margin: 0;
  opacity: 0.8;
}




/* SUCCESS-STORIES */

.success-stories {
  padding-top: 140px;
  padding-bottom: 140px;
  background-image: url('../img/reviews-bg-left.svg'), url('../img/reviews-bg-right.svg');
  background-repeat: no-repeat;
  background-position: 0 0, bottom -100px right 0;
}



.success-stories__title {
  text-align: center;
  font-size: 48px;
  font-style: normal;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 56px;
  /* 100% */
}

.success-stories__highlighted-text {
  color: var(--rapture-blue);
}

.success-stories__list {
  display: flex;
  flex-wrap: wrap;
}

.success-stories__item:not(:last-child) {
  margin-right: 30px;
}

.success-stories__item {
  width: 350px;
  text-align: center;
}

.success-stories__item::before {
  display: inline-block;
  content: "";
  width: 67px;
  height: 56px;
  background-image: url('../img/icon-quotes.svg');
  margin-bottom: -23px;
}

.success-stories__text {
  margin-top: 0;
  margin-bottom: 24px;
  font-style: normal;
}

.success-stories__author {}

.author-title {
  margin-top: 0;
  margin-bottom: 2px;
  color: var(--rapture-blue);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  /* 155.556% */
}

.author-position {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  line-height: 18px;
  /* 138.462% */
}

.author-img {
  display: inline-block;
  width: 62px;
  height: 62px;

}










/* RETINA BACKGROUNDS */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {}